textarea {
    min-height: 400px;
}

div .email {
    background-color: white;
    margin: 5px;
    border: solid;
    border-color: black;
}

div .email-readed {
    background-color: rgb(207, 207, 207);
    margin: 5px;
    border: solid;
    border-color: black;
}

.reply {
    margin-left: 5px;
    margin-right: 10px;
}