textarea {
    min-height: 400px;
}

div .email {
    background-color: white;
    margin: 5px;
    border: solid;
    border-color: black;
}

div .email-readed {
    background-color: rgb(119, 117, 117);
    margin: 5px;
    border: solid;
    border-color: black;
}